@media only screen and (max-width: 320px) {
  nav.header-nav {
    text-align: center;

    ul {
      width: 100%;
      display: block;
      li {
        text-align: center;
        width: 25%;
        display: block;
        a {
          text-align: center;
        }
      }
    }
  }

  .sub-header {
    background: #ebebeb;
    width: 100%;
    height: 160px !important;
    font-weight: 500;
    line-height: 40px;

    ul {
      list-style: none;
      width: 100%;

      li.sub-header-item {
        height: 40px !important;
        line-height: 40px !important;
        width: 100%;
        display: block;
        color: $text-color-muted;
        border-bottom: solid 1px #D5D5D5;

        address {
          margin-bottom: 0 !important;
        }

        span.sub-header-icon {
          margin: 0 10px;
        }

        span.sub-header-label {
          font-size: $font-md;
        }

        address {
          color: $text-color-muted;
        }
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  nav.header-nav {
    text-align: center;

    ul {
      width: 100%;
      display: block;
      li {
        text-align: center;
        width: 25%;
        display: block;
        a {
          text-align: center;
        }
      }
    }
  }
  
  .sub-header {
    background: #ebebeb;
    width: 100%;
    height: 160px !important;
    font-weight: 500;
    line-height: 40px;

    ul {
      list-style: none;
      width: 100%;

      li.sub-header-item {
        height: 40px !important;
        line-height: 40px !important;
        width: 100%;
        display: block;
        color: $text-color-muted;
        border-bottom: solid 1px #D5D5D5;

        address {
          margin-bottom: 0 !important;
        }

        span.sub-header-icon {
          margin: 0 10px;
        }

        span.sub-header-label {
          font-size: $font-md;
        }

        address {
          color: $text-color-muted;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .sub-header-item {
    float: none;
  }
}