* {
  font-family: $font-default;
  color: $text-color;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.header-color-white {
  color: #fff;
  text-shadow: 2px 2px black;
}


svg {
  fill: currentColor;
}

ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers;
  color: $header-color;
}

a {
  color: $color-default;
}

.top-nav {
  width: 100%;
  height: 25px;
  display: block;
  line-height: 25px;
  background-color: #000;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    color: #fff;
  }

  a {
    text-decoration: underline;
    color: #fff;
  }
}

nav.header-nav {
  width: 100%;
  padding: 15px 0;
  display: block;
  background-color: #fafafa;

  h1 {
    color: #212121;
  }

  ul {
    list-style: none;

    li {
      float: left;

      a {
        display: block;
        padding-right: 20px;
        color: $navigation-link;

        &:hover {
          text-decoration: none;
          color: $navigation-link-hover;
        }
        &:active {
          text-decoration: none;
          color: $navigation-link-click;
        }

        i {
          color: $navigation-link;
          padding: 0;
        }
      }
    }
  }
}

.sub-header {
  background: #ebebeb;
  width: 100%;
  padding: 0;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
  border-bottom: solid 1px #D5D5D5;

  ul {
    list-style: none;
    width: 100%;

    li.sub-header-item {
      float: left;
      width: 25%;
      display: block;
      color: $text-color-muted;

      span.sub-header-icon {
        margin: 0 10px;
      }

      span.sub-header-label {
        font-size: $font-md;
      }

      address {
        color: $text-color-muted;
      }
    }
  }
}

.sub-footer {
  background: #ebebeb;
  padding: 0;
  height: 120px;
  font-weight: 500;
  border-top: solid 1px #D5D5D5;

  position: relative;
  left: 0;
  width: 100%;

  ul {
    list-style: none;
    width: 100%;

    li {
      float: left;
      width: 25%;
      display: block;

      .img {
        padding: 20px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        filter: gray;                 /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1);         /* Microsoft Edge and Firefox 35+ */

        &#talisker {
          background-image: url('/src/images/talisker.png');
          height: 110px;
        }

        &#glenfiddich {
          background-image: url('/src/images/glenfiddich.png');
          height: 80px;
          margin-top: 10px;
        }

        &#jackdaniels {
          background-image: url('/src/images/jackdaniels.png');
          height: 80px;
          margin-top: 20px;
        }

        &#johnniewalker {
          background-image: url('/src/images/johnniewalker.png');
          height: 120px;
        }
      }
    }
  }
}


footer {
  min-height: 80px;
  padding: 15px;
  background: $color-1;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;

  address {
    color: #fff;
    border-left: solid 1px $color-default;
    font-style: italic;
  }

  nav.footer-nav {
    color: $color-default;
    float: left;
    width: 100%;

    ul {
      list-style: none;
      li {

        span.footer-nav-title {
          color: $color-default;
          font-size: $font-md;
        }
      }

    }

    a {
      display: block;
      color: #fff;

      &:hover {
        text-decoration: none;
        color: $navigation-link-hover;
      }
      &:active {
        text-decoration: none;
        color: $navigation-link-click;
      }

      i {
        color: $navigation-link;
        padding: 0;
      }
    }
  }
}

blockquote.blockquote {
  border-left: solid 3px $color-1;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 12px 24px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

h3.subheading {
  color: $color-default;
  font-size: 18px;
}

.body {
  padding: 50px 0;
  min-height: 80vh;
  display: block;
}

h2.error-code {
  font-size: 200px;
  color: $color-default;
}

h3.error-title {
  font-size: 30px;
  color: $text-color;
  text-align: center;
}

h4.error-desc {
  font-size: 55px;
  color: $text-color-muted;
}

.btn-primary {
  background-color: $color-default;
  border-color: $color-default;

  &:hover {
    background-color: $color-1;
    border-color: $color-1;
    color: #fff;
  }

  &:active {
    background-color: $color-light;
    border-color: $color-light;
    color: #fff;
  }
}

.landing-wallpaper {
  background-image: url('/src/images/wallpaper.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px !important;
  max-height: 600px !important;
  background-attachment: fixed;
}

.landing-info {
  background-color: #f2f2f2;
  border-bottom: solid 5px $text-color-muted;
  padding: 32px 24px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.2);
  border-radius: 5px;

  span.card-title {
    color: $color-default;
    font-size: $font-lg;
  }

  span.card-description {
    color: $text-color-muted;
    font-size: $font-sm;
  }
}

a.select-package-btn {
  padding: 20px;
  color: #fff;
  background-color: $color-default;
  border-bottom: solid 3px $color-dark;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

  &:hover {
    text-decoration: none;
    background-color: $color-1;
    border-color: $color-1;

    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

div.features {
  border-top: solid 1px #D5D5D5;
  border-bottom: solid 1px #D5D5D5;

  background: #ebebeb;

  .feature-item {
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 75px;
    padding-top: 50px;

    p {
      font-size: $font-sm;
    }

    &:first-child {
      border-left: solid 1px #D5D5D5;
      border-right: solid 1px #D5D5D5;
    }

    &:last-child {
      border-left: solid 1px #D5D5D5;
      border-right: solid 1px #D5D5D5;
    }
  }
}

.product-explanation-section {
  min-height: 500px;
  padding: 50px 0;
}

ul {
  list-style: none;
  li.head {
    font-size: $font-md;
  }
  li.desc {
    color: $text-color-muted;
    padding-left: 20px;
  }
}

div.gray-section {
  background-color: #fafafa;
}

div.feature-item-steps {
  text-align: center;

  svg {
    margin: 25px 0;
    font-size: 50px;
    path {
      color: $color-default;
      font-size: 50px;
    }
  }
}