/* Fonts families */
$font-default: 'Yrsa', serif;
$font-headers: 'Playfair Display SC', serif;

/* Font sizes */
$font-sm: 16px;
$font-md: 20px;
$font-lg: 28px;

/* Colors */
$color-1: #212121;
$color-default: #f44336;
$color-light: #ff7961;
$color-dark: #ba000d;

$navigation-link: $color-1;
$navigation-link-hover: $color-default;
$navigation-link-click: $color-dark;

$header-color: #212121;
$text-color: #333;
$text-color-muted: #7b7b7b;
